.navbar {
    display: flex;
    box-shadow: rgba(0,0,0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}
.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
}

@media screen and (max-width: 768px) {
    .brand {
        font-size: .8em;
    }
    .links_list li button{
        font-size: .8em;
    }

    .links_list {
        align-items: center;   
    }

    .links_list li {
        margin-right: .2em;
    }

    .links_list li a {
        font-size: .8em;
        padding: .2em;
    }
}

.active {
    background-color: #000;
    color: #fff;
}