.post_detail {
    margin-bottom: 2em;
}
.post_detail img{
    max-width: 600px;
}
.post_detail h2 {
    margin-bottom: .4em;
}
.post_detail .tags {
    margin-bottom: 1.2em;
    display: flex;
}
.tags p{
    margin-right: .5em;
}
.tags span {
    font-weight: bold;
}

.createdby {
    font-style: italic;
    color: #444;
    font-size: .8em;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .post_detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .post_detail img{
        max-width: 70%;
    }
    .tags{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .tags p {
        margin-bottom: .1em;
    }
}